@charset "UTF-8";


header,header > nav{
    flex-flow: column;
    align-items: stretch;
}

header > nav{
    display: none;
}

header > nav.mostrar{
    display: flex;
}

header > h1{
    flex-basis: 50px;
}

header > nav > a{
    width: 90vw;
    margin:5px 0; 
}