@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1{
   /* border: 1px dotted black;*/
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.367);
}

header > nav {
   /* border: 1px dotted black;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav >a{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover{
    background-color: white;
    color: black;
    transition: background-color .5s;
}

nav{
    display: flex;
}

span#casa{
    background-color: white;
    color: black;
    display: block;
    padding: 10px;
    cursor: pointer;
}

#casa{
    display: none;
    font-size: 30px;
    text-align: center;
}

@media (max-width:768px){
    #casa{
        display: block;
    }
  #itens{
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }
  #itens.mostrar{
    display: flex;
  }
  nav a{
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.518);
}

@media(max-width:600px){
    header>nav{
        flex-direction: column;
        align-items: stretch;
    }

    header>nav>a{
        width: 100%;
        margin: 5px 0;
    }
}

